<%- include('header') %>
<div class="not-found-box">
  <span class="not-found">4</span>
  <img height="110px" width="100px;" src="public/node.png" alt="node">
  <span class="not-found">4</span><br>
  <br>
  Go to <a href="/">Home</a>
</div>
<%- include('footer') %>
