<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>HOME</title>
    <meta name=viewport content='width=520'>
    <link rel="stylesheet" href="/public/stylesheets/main.css">
    <link rel="shortcut icon" type="image/png" href="public/node.png"/>
    <link href='https://fonts.googleapis.com/css?family=Archivo Narrow' rel='stylesheet'>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.1.1/socket.io.js"></script>
  </head>
  <body>
    <span class="main-heading">C</span><img class="logo" src="public/node.png" alt="node"></img>
    <span class="main-heading">nnect  </span>
    <span class="main-heading">N</span><img class="logo" src="public/node.png" alt="node"></img>
    <span class="main-heading">de</span>
