body{
  font-size: 22px;
  background-color: #39CCCC;
  text-align: center;
}
.err{
  color:#85144b;
  font-size: 20px;
}
.main-heading{
  font-size: 50px;
  font-family: 'Archivo Narrow';
  letter-spacing: 10px;
}
.not-found-box{
  margin:160px auto;
}
.not-found{
  font-size: 150px;
  font-family: 'Archivo Narrow';
  letter-spacing: 10px;
}
.register-box{
  background-color: #7FDBFF;
  width:500px;
  height: auto;
  text-align: center;
  border: 2px solid #001f3f;
  margin: auto;
  border-radius: 5px;
}
.login-input{
  height: 50px;
  margin-bottom: 20px;
  border-radius: 5px;
  border: 2px solid #001f3f;
  text-align: center;
}
.logo{
  height: 30px;
  width: 30px;
}
.content{
  margin: 30px auto;
}
.signup-button{
  background-color: #39CCCC;
  border:2px solid #001f3f;
  padding: 20px;
  border-radius: 5px;
  margin-bottom: 30px;
  width: 170px;
}
.signup-button:hover{
  cursor: pointer;
}
.login-btn{
  background-color: #FF4136;
}
.small-info{
  font-size: 16px;
}
.profile{
  float: left;
  border-right: 2px solid #001f3f;
  height: 100%;
  padding: 15px;
  text-align: center;
}
.username{
  font-size: 30px;
}
.dp{
  margin: auto;
  height: 250px;
  width: 200px;
}
.upload{
  margin: auto;
}
.file-upload {
	position: relative;
	display: inline-block;
}

.file-upload__label {
  display: block;
  padding: 1em 2em;
  color: #fff;
  background: #222;
  border-radius: .4em;
  margin-bottom: 5px;
  margin-top: 5px;
}

.file-upload__input {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    font-size: 1;
    width:0;
    height: 100%;
    opacity: 0;
}
#mario-chat{
    max-width: 600px;
    margin: 30px auto;
    border: 1px solid #001f3f;
    background-color: #7FDBFF;
    border-radius: 2px;
}

#chat-window{
    height: 400px;
    overflow: auto;
    background: #f9f9f9;
}

#message{
  width: 79.3%;
  height: 50px;
}

#send{
  height: 56px;
  background-color: #222;
  border:2px solid #222;
  color:white;
  width: 20%;
  padding: 15px;
}

#output p{
    font-size: 14px;
    text-align: right;
    padding: 14px 0px;
    margin: 0 20px;
    border-bottom: 1px solid #e9e9e9;
    color: #555;
}

#feedback p{
    font-size: 14px;
    text-align: left;
    color: #aaa;
    padding: 14px 0px;
    margin: 0 20px;
}

#output strong{
    color: #575ed8;
}
